@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.App {
  font-family: 'Poppins', sans-serif;;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}

.SearchBarInput {
  marigin-top: 20px;
  width: 300px; 
  height: 40px;
  font-size: 20px;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Search-Bar{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.Header {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.FileUpload {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.SubmitButton {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Button {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

p {
  margin: 10px;
  font-size: 18px;
}